<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" href="style.css"/>'
	<link rel="stylesheet" type="text/css" href="w3.css"/>
<link rel="stylesheet" href="font-awesome.min.css"></head>

<body>
	<div id="adminContext" class="w3-content">
		<div >
		<button data-bind="click: $root.openAddPackage"
				class="w3-blue w3-padding">Add Package</button>	
		</div><br>
		<table class="w3-table w3-striped w3-centered w3-hoverable w3-padding bordered"
		data-bind ="packageArray().length>0">
				<thead class="officialColor">
					<tr>
						<th>Name</th>
						<th>Sender</th>
						<th>Sender City</th>
						<th>Receiver</th>
						<th>Destination City</th>
						<th>Tracking</th>
						<th>Register Package</th>
						<th>Update Package Route</th>
						<th>Delete Package</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: packageArray">
					<tr>
						<td data-bind="text: name"></td>
						<td data-bind="text: sender"></td>
						<td data-bind="text: senderCity"></td>
						<td data-bind="text: receiver"></td>
						<td data-bind="text: destCity"></td>
						<td data-bind="text: tracking"></td>
						<td><i class="fa fa-info-circle" title="Register Package"
				data-bind="click: $root.registerPackage" aria-hidden="true"
				style="font-size: 20px; cursor: pointer"> </i></td>
						<td><i class="fa fa-plus" title="Update Package Route"
				data-bind="click: $root.openUpdatePackage" aria-hidden="true"
				style="font-size: 20px; cursor: pointer"> </i></td>
						<td><i class="fa fa-trash" title="Delete Package"
				data-bind="click: $root.deletePackage" aria-hidden="true"
				style="font-size: 20px; cursor: pointer"> </i></td>
					</tr>
				</tbody>

			</table>
	<br>
	<div data-bind= "visible: openEditablePackage()">	
	<header class = "officialColor w3-centered w3-padding" >Add Package</header>
			<form class="w3-card" >
				<div class="w3-row w3-container w3-padding">
					<div class="w3-third ">
						<label>Name</label>
					</div>
					<div class="w3-twothird">
						<input  data-bind="value : packageNameToBeAdded"></input>
					</div>
				</div>
				<div class="w3-row w3-container w3-padding">
					<div class="w3-third ">
						<label>Sender</label>
					</div>
					<div class="w3-twothird">
						<select data-bind =  "options : $root.userArray, 
						value : $root.senderToBeAdded ,optionsText : 'name'"></select>
					</div>
				</div>
				
				<div class="w3-row w3-container w3-padding">
					<div class="w3-third ">
						<label>Sender City</label>

					</div>
					<div class="w3-twothird  ">
						<select data-bind =  "options : $root.cityArray, 
						value : $root.senderCityToBeAdded ,optionsText : 'name'"></select>
					</div>
				</div>
				<div class="w3-row w3-container w3-padding">
					<div class="w3-third ">
						<label>Receiver</label>
					</div>
					<div class="w3-twothird ">
						<select data-bind =  "options : $root.userArray, 
						value : $root.receiverToBeAdded ,optionsText : 'name'"></select>
					</div>
				</div>
				<div class="w3-row w3-container w3-padding">
					<div class="w3-third ">
						<label>Destination City</label>
					</div>
					<div class="w3-twothird  ">
						<select data-bind =  "options : $root.cityArray, 
							value : $root.destCityToBeAdded ,optionsText : 'name'"></select>
					</div>
				</div>
			
				<div class="w3-row w3-container w3-padding">
					<div class="w3-half w3-padding">
						<button data-bind="click: $root.addPackage"
							class="w3-blue w3-padding"
							th:text="#{tracker.admin.updateRoute}"></button>
						<button data-bind="click: $root.discard" class="w3-red w3-padding"
						th:text="#{tracker.discard}"></button>
					</div>
					<div class="w3-half w3-padding">
						
					</div>
				</div>
			</form>
	</div>	
	<div data-bind= "visible: openEditableRoute()" class = "w3-context">	
	<header class = "officialColor w3-centered w3-padding" >Update Package Route</header>
			<form class="w3-card">
				
				<div class="w3-row w3-container w3-padding">
					<div class="w3-third ">
						<label>Time</label>
					</div>
					<div class="w3-twothird">
						<input id = "routeTime"
						type = "datetime-local" data-bind="value : time"></input>
					</div>
				</div>
				
				<div class="w3-row w3-container w3-padding">
					<div class="w3-third ">
						<label>Route City</label>
					</div>
					<div class="w3-twothird  ">
						<select data-bind =  "options : $root.cityArray, 
						value : $root.cityToBeAdded ,optionsText : 'name'"></select>
					</div>
				</div>
				
			
				<div class="w3-row w3-container w3-padding">
					<div class="w3-half w3-padding">
						<button data-bind="click: $root.updatePackage"
							class="w3-blue w3-padding">Update Package Route</button>
						<button data-bind="click: $root.discard" class="w3-red w3-padding">Discard</button>
					</div>
					<div class="w3-half w3-padding">
						
					</div>
				</div>
			</form>
	</div>	
	</div>
	
	<script src = "base/jquery-3.2.1.js"></script>
    <script src = "base/sweetalert.min.js"></script>
    <script src = "base/knockout.js" type="text/javascript" ></script>
    <script src = "base/knockout-rc.js" type="text/javascript" ></script>
 
 	<script src="Admin.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			var adminVM = new AdminVM();
			ko.applyBindings(adminVM, document.getElementById("adminContext"));
			adminVM.load();
		});
	</script>

</body>

</html>