<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{tracker.user.title}">Title</title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="w3.css"/>
	<link rel="stylesheet" href="font-awesome.min.css">
</head>

<body>
	<div id="userContext">
		<div class="w3-content">
		<button data-bind="click: $root.getPackages"
				class="w3-blue w3-padding" th:text="#{tracker.user.listAllPackages}"></button>	
		<div >
				
						<button data-bind="click: $root.search"
				class="w3-blue w3-padding" th:text="#{tracker.user.search}"></button>
		
						<input  data-bind="value : keyword"></input>
					
		</div>
		</div>
		
		<table class=" w3-content w3-table w3-striped w3-centered w3-hoverable w3-padding bordered"
		data-bind ="visible: packagesVisible() && packageArray().length>0">
				<thead class="officialColor">
					<tr>
						<th th:text="#{tracker.package.name}"></th>
						<th th:text="#{tracker.package.sender}"></th>
						<th th:text="#{tracker.package.senderCity}"></th>
						<th th:text="#{tracker.package.receiver}"></th>
						<th th:text="#{tracker.package.receiverCity}"></th>
						<th th:text="#{tracker.package.tracking}"></th>
						<th th:text="#{tracker.user.checkStatus}"></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: packageArray">
					<tr>
						<td data-bind="text: name"></td>
						<td data-bind="text: sender"></td>
						<td data-bind="text: senderCity"></td>
						<td data-bind="text: receiver"></td>
						<td data-bind="text: destCity"></td>
						<td data-bind="text: tracking"></td>
						<td><i class="fa fa-info-circle" th:title="#{tracker.user.checkStatus}"
				data-bind="click: $root.checkStatus" aria-hidden="true"
				style="font-size: 20px; cursor: pointer"> </i></td>
					</tr>
				</tbody>

			</table>

		
		<br><br>
				<table class="w3-content w3-table w3-striped w3-centered w3-hoverable w3-padding bordered"
		data-bind ="visible: routeVisible() && routeArray().length>0">
				<thead class="officialColor">
					<tr>
						<th th:text="#{tracker.package.city}"></th>
						<th th:text="#{tracker.package.time}"></th>
						
					</tr>
				</thead>
				<tbody data-bind="foreach: routeArray">
					<tr>
						<td data-bind="text: city"></td>
						<td data-bind="text: time"></td>
					</tr>
				</tbody>

			</table>
	</div>
	
	<script src = "base/jquery-3.2.1.js"></script>
    <script src = "base/sweetalert.min.js"></script>
    <script src = "base/knockout.js" type="text/javascript" ></script>
    <script src = "base/knockout-rc.js" type="text/javascript" ></script>
 
 	<script th:src="@{User.js}" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			var userVM = new UserVM();
			ko.applyBindings(userVM, document.getElementById("userContext"));
		});
	</script>

</body>

</html>